.App-tweet-wrapper {
    width: 100%;
}

.App-tweet-details {
    float: left;
    width: 80%;
}

.App-tweet-details-header {
    display: flow-root;
}

.App-tweet-avatar{
    height: 100%;
    width: auto;
    float: left;
    margin-right: 10px;
}

.App-tweet-avatar img{
    height: 100px;
    width: 100px;
}

.App-tweet-name {
    width: 25%;
    float: left;
}

.App-tweet-handle {
    float: left;
}

.App-tweet-date {
    float: right;
}

.App-tweet-text {
    margin-top: 28px;
    float: left;
}